.technical-stack {
  font-family: 'Substance-Regular', 'sans-serif';
  background-image: url('../../images/technical-stack/Technical-Stack-Visual_01.jpg');
  background-size: cover;

  &__modul {
    width: 100%;
    background-color: rgba(0, 147, 208, 0.89);
    padding: 100px 50px 100px 50px;

    &__heading {
      font-family: 'Substance-Thin', 'sans-serif';
      color: #fff;
      font-size: 30px;
      margin-bottom: 20px;
    }

    &__text {
      font-family: 'Substance-Light', 'sans-serif';
      color: #fff;
      font-size: 18px;
      line-height: 26px;
      text-align: justify;
    }
  }
}

@media screen and (min-width: 768px) {
  .technical-stack {
    &__modul {
      width: 50%;
      padding: 100px 100px 100px 100px;

      &__heading {
        font-size: 36px;
      }
      &__text {
        font-size: 20px;
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .technical-stack {
    &__modul {
      padding: 100px 150px 100px 150px;
    }
  }
}
