.main-menu {
  display: none;
  font-family: 'Substance-Regular', Sans-serif;
  font-size: 1.8rem;
  color: #333333;
  position: absolute;
  z-index: 10;
  bottom: -200px;
  width: 100%;
  background-color: #fff;
  padding: 2rem;

  &__items {
    list-style: none;

    & li {
      padding: 10px 5px;
      a {
        color: #3c3c3b;
        text-decoration: none;
        font-size: 16px;

        font-family: 'Substance-Bold';
      }
    }
  }

  &.active {
    display: block;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1300px) {
  .main-menu {
    display: block;
    position: static;

    font-size: 2rem;

    background-color: #fff;
    padding: 0;
    &__items {
      display: flex;

      & li {
        a {
          color: #3c3c3b;
          text-decoration: none;
          padding: 10px 10px;
          position: relative;
          font-size: 16px;
          /*  &:hover {
            border-bottom: 3px solid #008aca;
          } */

          &:hover::after {
            display: block;
          }
          &::after {
            content: '';
            height: 2px;
            width: 90%;
            background-color: #008aca;
            position: absolute;
            bottom: 3px;
            left: 50%;
            transform: translateX(-50%);
            transition: all 0.3s ease-in-out;
            display: none;
          }
        }

        &:not(:first-child) a::before {
          background-color: #d3dcde;
          content: '';
          display: inline-block;
          height: 32px;
          left: -5px;
          position: absolute;
          transform: skew(-12deg);
          width: 1px;
        }
        a.active::after {
          display: block;
          background-color: #ff6100;
        }
      }
    }
    &.active {
      /* Should be replaced on reverse with main-menu */
      display: block;
    }
  }
}

@media screen and (min-width: 1300px) and (max-width: 1560px) {
  .main-menu {
    &__items {
      & li {
        a {
          font-size: 1.6rem;
          padding: 10px 10px;
        }
      }
    }
  }
}

/*
.main-menu {
  display: none;
  font-family: 'Substance-Regular', Sans-serif;
  font-size: 1.8rem;
  color: #333333;
  position: absolute;
  z-index: 10;
  bottom: -200px;
  width: 100%;
  background-color: #fff;
  padding: 2rem;

  &__items {
    list-style: none;

    & li {
      padding: 10px 20px;
      a {
        color: #3c3c3b;
        text-decoration: none;
      }
    }
  }

  &.active {
    display: block;
  }
}


@media only screen and (min-width: 1300px) {
  .main-menu {
    display: block;
    position: static;

    font-size: 1.6rem;

    background-color: #fff;
    padding: 0;
    &__items {
      display: flex;

      & li {
        a {
          color: #3c3c3b;
          text-decoration: none;
          padding: 10px 20px;
          &:hover {
            border-bottom: 3px solid #008aca;
          }
        }
      }
    }
    &.active {
 
      display: block;
    }
  }
}

*/
