.top-menu {
  display: none;
  font-family: 'Substance-Regular', Sans-serif;
  font-size: 1.4rem;
  color: #000000;

  width: 90%;
  margin: 2rem auto;

  &__items {
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    & li {
      padding: 10px 20px;
      a {
        color: #575756;
        text-decoration: none;
        &:hover {
          border-bottom: 3px solid #0093d0;
        }
      }
      &:last-child {
        padding: 10px 0px 10px 20px;
      }
    }
  }

  &__icon {
    font-size: 1.8rem;
    color: #878786;
  }
}
@media only screen and (min-width: 600px) {
  .top-menu {
    display: block;
  }
}
@media only screen and (min-width: 1200px) {
  .top-menu {
    min-width: 1140px;
  }
}
