.about-us-intro {
  font-family: 'Substance-Regular', Sans-serif;
  background-color: #eff3f5;
  padding: 100px 20px;

  &__title {
    font-family: 'Substance-Regular', Sans-serif;
    font-size: 36px;
    text-align: center;
    padding: 40px 40px;

    &__decoration {
      display: block;
      margin: 0 auto 80px auto;
      height: 10px;
      background-color: #0093d0;
      width: 50px;
    }
  }

  &__modul {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__image {
      display: block;
      width: 80%;
      margin: 20px;
      transition: all 0.3s;

      &:hover {
        transform: scale(0.9);
      }
    }
    &__heading {
      font-family: 'Substance-Light', Sans-serif;
      font-size: 22px;
      color: #7a7a7a;
      max-width: 100%;
      height: 40px;
      margin: 0 auto 40px auto;
      text-align: center;
    }
  }
}

@media only screen and (min-width: 400px) {
  .about-us-intro {
    &__title {
      font-size: 40px;
    }
    &__modul {
      width: 55%;

      &__heading {
        font-size: 24px;
        max-width: 100%;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .about-us-intro {
    &__modul {
      width: 55%;
      text-align: center;

      &__heading {
        font-size: 24px;
        max-width: 100%;
      }
    }
    .modules-wrap {
      max-width: 1140px;
      margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media only screen and (min-width: 992px) {
  .about-us-intro {
    &__title {
      font-size: 40px;
    }
    &__modul {
      width: 15%;
      text-align: center;

      &__heading {
        font-size: 24px;
        max-width: 100%;
      }
    }
    .modules-wrap {
      max-width: 1140px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
