.header {
  width: 70%;

  margin: 0 auto;
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
@media only screen and (min-width: 1200px) {
  .header {
    /*  min-width: 1140px; */
    max-width: 1139px;

    margin-bottom: 5px;
  }
}
