.about-us {
  max-width: 1140px;
  margin: 0 auto;
  font-family: 'Substance-Regular', Sans-serif;
  text-align: center;
  padding: 100px 20px;

  &__heading {
    margin-bottom: 60px;

    &__title {
      font-family: 'Substance-Light', Sans-serif;
      font-size: 45px;
      text-align: center;
      padding: 40px;
    }
  }
  &__content {
    font-family: 'Substance-Light', Sans-serif;
    font-size: 18px;
    line-height: 25px;
    color: #575756;
    h3 {
      margin-top: 30px;
      margin-bottom: 20px;
    }
    p {
      margin-bottom: 20px;
    }
    a {
      margin: 40px auto;
    }
  }
}
