.footer {
  background-color: #0093d0;
  font-family: 'Substance-Light', Sans-serif;
  padding: 50px 50px 50px 50px;
  color: white;

  font-size: 1.4rem;

  &__container {
    max-width: 1139px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  &__left,
  &__center,
  &__right {
    text-align: center;
  }

  &__left,
  &__center {
    margin-bottom: 10px;
  }
  &__left {
    flex-direction: column;
    p {
      margin-bottom: 10px;
    }
  }

  &__right {
    font-size: 22px;
    a {
      text-decoration: none;
      color: #fff;
    }
  }
}

@media only screen and (min-width: 768px) {
  .footer {
    padding: 50px 100px 50px 100px;

    &__container {
      max-width: 1139px;
      flex-direction: row;
    }

    &__left,
    &__center {
      margin-bottom: 0px;
    }

    &__left {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
    }
  }
}
