* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'Grtsk-Tera-Thin';
  src: local('Grtsk-Tera-Thin'),
    url(./fonts/Grtsk-Tera-Thin.otf) format('truetype');
}
@font-face {
  font-family: 'Grtsk-Tera-Light';
  src: local('Grtsk-Tera-Light'),
    url(./fonts/Grtsk-Tera-Light.otf) format('truetype');
}
@font-face {
  font-family: 'Grtsk-Tera-Regular';
  src: local('Grtsk-Tera-Regular'),
    url(./fonts/Grtsk-Tera-Regular.otf) format('truetype');
}
@font-face {
  font-family: 'Grtsk-Tera-Medium';
  src: local('Grtsk-Tera-Medium'),
    url(./fonts/Grtsk-Tera-Medium.otf) format('truetype');
}
@font-face {
  font-family: 'Grtsk-Tera-Bold';
  src: local('Grtsk-Tera-Bold'),
    url(./fonts/Grtsk-Tera-Bold.otf) format('truetype');
}
