* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

img {
  width: 100%;
}
@font-face {
  font-family: 'Substance-Thin';
  src: local('Substance-Thin'),
    url(./fonts/FaceType-Substance-Thin.otf) format('truetype');
}
@font-face {
  font-family: 'Substance-Light';
  src: local('Substance-Light'),
    url(./fonts/FaceType-Substance-Light.otf) format('truetype');
}
@font-face {
  font-family: 'Substance-Regular';
  src: local('Substance-Regular'),
    url(./fonts/FaceType-Substance.otf) format('truetype');
}
@font-face {
  font-family: 'Substance-Medium';
  src: local('Substance-Medium'),
    url(./fonts/FaceType-Substance-Medium.otf) format('truetype');
}
@font-face {
  font-family: 'Substance-Bold';
  src: local('Substance-Bold'),
    url(./fonts/FaceType-Substance-Bold.otf) format('truetype');
}

/*
Tools
******************************/

.page-title-decoration {
  display: block;
  margin: 0 auto 80px auto;
  height: 10px;
  background-color: #0093d0;
  width: 50px;
}
.page-title-decoration__left {
  display: block;
  margin: 10px auto 30px 0px;
  height: 10px;
  background-color: #0093d0;
  width: 100px;
}

/*
    HELPERS
*******************************/
.title-blue {
  color: #0093d0;
  font-family: 'Substance-Regular', Sans-serif;
  text-align: left;
  font-size: 40px;
  margin-bottom: 60px;
}
/*
    BUTTONS
******************************/

.button-blue {
  display: inline-block;
  text-decoration: none;
  font-size: 28px;

  fill: #0093d0;
  color: #0093d0;
  background-color: rgba(2, 1, 1, 0);
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-radius: 7px 7px 7px 7px;
  padding: 25px 80px 25px 80px;
  cursor: pointer;
  border-color: #0093d0 !important;
}
