* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

img {
  width: 100%;
}
@font-face {
  font-family: 'Substance-Thin';
  src: local('Substance-Thin'),
    url(./fonts/FaceType-Substance-Thin.otf) format('truetype');
}
@font-face {
  font-family: 'Substance-Light';
  src: local('Substance-Light'),
    url(./fonts/FaceType-Substance-Light.otf) format('truetype');
}
@font-face {
  font-family: 'Substance-Regular';
  src: local('Substance-Regular'),
    url(./fonts/FaceType-Substance.otf) format('truetype');
}
@font-face {
  font-family: 'Substance-Medium';
  src: local('Substance-Medium'),
    url(./fonts/FaceType-Substance-Medium.otf) format('truetype');
}
@font-face {
  font-family: 'Substance-Bold';
  src: local('Substance-Bold'),
    url(./fonts/FaceType-Substance-Bold.otf) format('truetype');
}

/*
Tools
******************************/

.page-title-decoration {
  display: block;
  margin: 0 auto 80px auto;
  height: 10px;
  background-color: #0093d0;
  width: 50px;
}
.page-title-decoration__left {
  display: block;
  margin: 10px auto 30px 0px;
  height: 10px;
  background-color: #0093d0;
  width: 100px;
}

/*
    HELPERS
*******************************/
.title-blue {
  color: #0093d0;
  font-family: 'Substance-Regular', Sans-serif;
  text-align: left;
  font-size: 40px;
  margin-bottom: 60px;
}
/*
    BUTTONS
******************************/

.button-blue {
  display: inline-block;
  text-decoration: none;
  font-size: 28px;

  fill: #0093d0;
  color: #0093d0;
  background-color: rgba(2, 1, 1, 0);
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-radius: 7px 7px 7px 7px;
  padding: 25px 80px 25px 80px;
  cursor: pointer;
  border-color: #0093d0 !important;
}

@media only screen and (max-width: 768px) {
  .button-blue {
    padding: 20px 50px 20px 50px;
  }
  .title-blue {
    font-size: 36px;
  }
}
/*
    ANIMATIONS
******************************/

/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */

.slide-in-left {
  -webkit-animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */

.fade-in {
  -webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation fade-in-left
 * ----------------------------------------
 */

.fade-in-left {
  -webkit-animation: fade-in-left 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-left 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@-webkit-keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
/**
 * ----------------------------------------
 * animation fade-in-bottom
 * ----------------------------------------
 */

.fade-in-bottom {
  -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
