.contacts {
  max-width: 1140px;
  margin: 0 auto;
  font-family: 'Substance-Regular', Sans-serif;
  text-align: center;
  padding: 0px 20px 50px 0;

  &__heading {
    text-align: center;

    &__title {
      font-family: 'Substance-Light', Sans-serif;
      font-size: 45px;
      font-weight: 300;
      text-align: center;
      padding: 40px;
    }
  }
}
