.contacts {
  max-width: 1140px;
  margin: 0 auto;
  font-family: 'Substance-Regular', Sans-serif;
  text-align: center;
  padding: 100px 20px;

  &__heading {
    text-align: center;

    &__title {
      font-size: 40px;
      text-align: center;
      padding: 40px;
    }
  }
}
